.welcome {
  text-align: center;
  margin-top: 100px;
}

.bio {
  text-align: center;
}

.center-login {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  margin-top: 20px;
  width: 50%;
}

.login-btn {
  // background-color: #70be3c;
}

.login-btn:hover {
  // background-color: #94d06c;
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cen-cred {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cen-log-btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
