.background {
  min-height: 92.5vh;
  background-color: #ebffeb;

}

.welcome {
  text-align: center;
  padding-top: 50px;
}

.bio {
  text-align: center;
}

.center-login {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  margin-top: 20px;
  width: 50%;
  box-shadow: 0 2px 30px rgb(0 0 0 / 0.2);
}

.login-btn {
  // background-color: #d4fad5;
}

.login-btn:hover {
  // background-color: #b3ffb5;
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cen-cred {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cen-log-btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
