
<!-- Home Screen Code -->
<head>
  <title>StoreHouse Tools</title>
</head>
<div class="background">

  <div class="center-login">

    <mat-card class="login-card" *ngIf="!isLoggedInUI">

      <div fxLayout="row" style="max-height: 100%; width: 100%;">

        <div fxFlex="40" class="gray">
          <div style="width: 100%; margin: auto">
            <h3 style="text-align:center;">Login for Inventory Control</h3>
            <h3 style="text-align:center">Or</h3>
            <h3 style="text-align:center">Volunteer Sign Up Below</h3>
          </div>
        </div>

        <div fxFlex="60" style="padding-left: 25px;">
          <h1 style="text-align: center">Welcome</h1>

          <mat-form-field class="cen-cred">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="email" required (keypress)="handleEnter($event)">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field class="cen-cred">
            <mat-label>Password</mat-label>
            <input matInput id="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password" required (keypress)="handleEnter($event)">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>

          <p *ngIf="error_message" style="color: red; text-align: center">Credentials not found. Try again.</p>

          <div class="cen-log-btn">
            <button mat-raised-button id="signin" class="login-btn" (click)="login()">Login</button>
          </div>
        </div>

      </div>

    </mat-card>

    <mat-card class="login-card" *ngIf="isLoggedInUI">
      <h1 style="text-align: center">Do you wish to log out?</h1>
      <div class="logout-btn">
        <button mat-raised-button (click)="logout()">Log Out</button>
      </div>
    </mat-card>

  </div>

  <!-- Calendly inline widget begin -->
  <div class="calendly-inline-widget" data-url="https://calendly.com/storehousetools/storehouse-volunteer" style="min-width:320px;height:650px;"></div>
  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
  <!-- Calendly inline widget end -->

</div>
