.background {
  min-height: 92.5vh;
  background-color: #ebffeb;

}

.welcome {
  text-align: center;
  padding-top: 50px;
}

.bio {
  text-align: center;
}

.center-login {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  margin-top: 20px;
  width: 80%;
  // min-height: 30vh;
  box-shadow: 0 2px 30px rgb(0 0 0 / 0.2);
}

.gray {
  display: flex;
  align-items: stretch;
  background-color: #e6e6e6;
  // height: 100%;
  margin-top: -16px;
  margin-bottom: -16px;
  margin-left: -16px;
  border-radius: 4px;
}

.login-btn {
  // background-color: #d4fad5;
}

.login-btn:hover {
  // background-color: #b3ffb5;
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cen-cred {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.cen-log-btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}