.header {
  text-align: center;
  padding-top: 30px;
}

.background {
  background-color: #ebffeb;
  min-height: 100vh;
}

img {
  width: 85%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
